$fancyFont: 'Stalinist One', cursive;
$mdGrey: #273746;
$dkOrange: #D14D31;
$dkGrey: #17202A;

* {
  // border: solid $dkGrey 5px;
  margin: 0 0;
}

body {
  background-color: black;
}

.mainContainer {
  position: relative;
  margin-bottom: 20px;
}

.shoesContainer {
  width: 600px;
  margin: -40% auto 0 auto;
  z-index: 2;
  position: relative;
  left: 13%;
  @media screen and (max-width: 925px) {
    margin: -300px auto 0 auto;
    position: relative;
    display: block;
    left: auto;
    width: 90%;
  }
}

.titleContainer {
  position: relative;
  z-index: 1;
}

h1 {
  font-family: $fancyFont;
  color: $mdGrey;
  font-size: 800px;
  overflow: hidden;
}

h3 {
  font-family: $fancyFont;
  color: $mdGrey;
  font-size: 300px;
  overflow: hidden;
}

#blah {
  background-color: green;
}

h2 {
  font-family: $fancyFont;
  color: $dkOrange;
  font-size: 200px;
  overflow: hidden;
  transform: rotate(90deg);
  position: absolute;
  top: 230px;
  left: 0;
}

h6 {
  color: $mdGrey;
  font-size: 40px;
  text-align: right;
  padding-right: 15px;
}

#arrow{
    transform: rotate(90deg);
    top: 50px;
    left: 30px;
    position: absolute;
    font-size: 200px;
    letter-spacing: -94px;
    overflow: visible;
    a {
      text-decoration: none;
      padding-right: 100px;
      color: $mdGrey;
    }
}

.shoesGrid {
  display: grid;
  width: auto;
  // background: grey;
  grid-template: auto / auto auto;
  grid-gap: 20px;
  button {
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
  img {
    width: 100%;
  }
}

.menuContainer {
  display: flex;
  border: 45px solid $mdGrey;
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  .menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    width: 100%
  }
  @media screen and (max-width: 1230px) {
    position: static;
    bottom: auto;
    left: auto;
    margin: 20px auto;

  }
}

#overlay {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  #imageHolder {
    width: 80%;
    max-height: 90%;
    max-width: 1600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      width: 100%;
    }
  }
  #closeoverlay {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 40pt;
    padding: 10px;
    color: $dkOrange;
    font-family: $fancyFont;
    transform: rotate(90deg);
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: $dkOrange;;
}
